
.row .blank {
	height: 100px;	
}

.row .row {
	margin-bottom: 80px;
}

.row .sidebar {
}

.logo {
	margin-top: 30px;
	margin-right: 20px;
	float: left;
}

h1 {
	margin-top: 58px;
	font-size:167%;
	font-weight: bold;
} 

h2 {
	font-size:138.5%;
	border-bottom: 1px dotted #777;
	margin-bottom: 20px;
} 

h3 {
	font-size:108%;
	font-weight: bold;
} /*renders 14px */

li {font-size:77%;} /*renders 10px */

.thumbnail {
	margin-bottom: 10px;
	height: 300px;
	padding: 10px;
	border: 1px solid #f3f3f3;
}

p {
	font-size:100%; /*renders 10px */
} 

.label {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  display: block;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

  margin-bottom: 5px;
  margin-right: 10px;
}

.label-tokyo{
  background-color: #b94a48;
}

.label-ishinomaki{
  background-color: #468847;
}

.label-nagoya{
  background-color: #f89406;
}

ul.timeline {
	margin-left: 0;
}

ul.timeline li {
	list-style-type: none;
}

ul.timeline li.alert {
	color: #F00;
	font-weight: bold;
	
}

ul.timeline li .time {
	font-weight: bold;
	width: 200px;
	margin-right: 10px;
}

ul.timeline li .do {
	clear: both;
	margin-left: 10px;
}


