/* @group overwrite of foundation.css */

dl dd {
	margin-bottom: 0;
}

.highlight {
	
	/*
border-style: solid;
border-width: 1px;
border-color: #dddddd;
*/
margin-bottom: 1.25rem;
padding: 1.25rem;
background: #ffffff;
	border-left: 3px solid #baeeff;
	
	
}


/* @end */


body {
}

#keyvisual {
	
	width: 100%;
	height: 800px;
	margin-bottom: 60px;
    background: #FFF url(../img/illust/keyvisual.png) no-repeat;  
	background-size: cover;
}

.kvwidth {
	width: 100%;
}
.kvheight {
	height: 100%;
}

.illust {
	z-index: 2;	
}

#titleOnIllust {
	position: absolute;
	left: 738px;
	top: 180px;
	z-index: 20;
}

* {
	
}



.row {
	background-color: #FFF;
}

.captionInHeader {
    font-size: 60%;
}

.R4Rsymbol {
	width: 80px;
	margin-left: auto;
	margin-right: auto;	
}

.r4rcredit {
	font-size: 12px;
	color: #999;
}

.caption {
    font-size: 80%;
}

@media only screen {

	.keyvisual {
		padding-bottom: 60px;
		background-color: #FFF;
	}

	.copy {
		margin-bottom: 40px;	
	}
	
	.copy2 {
		margin-top: 40px;
		margin-bottom: 40px;	
	}

}

@media only screen and (max-width: 40em) {

	.keyvisual {
		padding-bottom: 20px;
		background-color: #FFF;
	}
	
	.copy {
		margin-bottom: 20px;	
	}
	
	.copy2 {
		margin-top: 20px;
		margin-bottom: 20px;	
	}

}

.schedule {
	display: block;
	position: relative;
}
.day_list {
	position: relative;
	z-index: 10;
}   

.day_list dt {
	color: #333;	
	font-size: 12px;
	font-weight: bold;
}   

.day_list dd {
	margin-left: 30px;
	margin-bottom: 10px;
	color: #999;
	font-size: 12px;
}   

@media only screen {
	
	#icon_ideathon {
		width: 132px;
		height: 89px;
	    background: url(../img/illust/icon_ideathon.png) no-repeat;
	    position: absolute;
	    left: -110px;
	    top: 40px;
	    z-index: 1;
	}
	
	#icon_hackathon {
		width: 132px;
		height: 94px;
	    background: url(../img/illust/icon_hackathon.png) no-repeat;
	    position: absolute;
	    left: -110px;
	    top: 40px;
	    z-index: 1;
	}
	
	#icon_global {
		width: 132px;
		height: 80px;
	    background: url(../img/illust/icon_global.png) no-repeat;
	    position: absolute;
	    left: -110px;
	    top: 40px;
	    z-index: 1;
	}
	
	#icon_ideathon_h {
		width: 132px;
		height: 89px;
	    background: url(../img/illust/icon_ideathon.png) no-repeat;
	    position: absolute;
	    left: 338px;
	    top: 0px;
	    z-index: 1;
	}
	
	#icon_hackathon_h {
		width: 132px;
		height: 94px;
	    background: url(../img/illust/icon_hackathon.png) no-repeat;
	    position: absolute;
	    left: 338px;
	    top: 0px;
	    z-index: 1;
	}

}

@media only screen and (max-width: 40em) {
	
	#icon_ideathon {
		width: 132px;
		height: 89px;
	    background: url(../img/illust/icon_ideathon.png) no-repeat;
	    position: absolute;
	    left: 160px;
	    top: 40px;
	    z-index: 1;
	}
	
	#icon_hackathon {
		width: 132px;
		height: 94px;
	    background: url(../img/illust/icon_hackathon.png) no-repeat;
	    position: absolute;
	    left: 160px;
	    top: 40px;
	    z-index: 1;
	}
	
	#icon_global {
		width: 132px;
		height: 80px;
	    background: url(../img/illust/icon_global.png) no-repeat;
	    position: absolute;
	    left: 160px;
	    top: 40px;
	    z-index: 1;
	}
	
	#icon_ideathon_h {
		width: 132px;
		height: 89px;
	    background: url(../img/illust/icon_ideathon.png) no-repeat;
	    position: absolute;
	    left: 338px;
	    top: 0px;
	    z-index: 1;
	}
	
	#icon_hackathon_h {
		width: 132px;
		height: 94px;
	    background: url(../img/illust/icon_hackathon.png) no-repeat;
	    position: absolute;
	    left: 338px;
	    top: 0px;
	    z-index: 1;
	}

}

ul#submitBox {
	text-align: center;	
}

ul#submitBox li {
	text-align: center;
	list-style-type: none;
	float: left;
	margin: 0 10px 0 10px;
}

ul#submitBox li {
	text-align: center;
	list-style-type: none;
	float: left;
	margin: 0 10px 0 10px;
}

/* ボタン共通のスタイル */

.btn {
  padding: 10px 17px;
  font-size: 14px;
  line-height: 20px;
   
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  *margin-left: .3em;

  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn-small {  
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
 }
 
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

/* 個別のボタンスタイル */

.btn-normal {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  
  background-color: #da4f49;
  *background-color: #bd362f;
  
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  
  background-repeat: repeat-x;
  
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  margin: 10px 0 10px 0;
}

.btn-normal:hover,
.btn-normal:focus,
.btn-normal:active,
.btn-normal.active,
.btn-normal.disabled,
.btn-normal[disabled] {
  color: #ffffff;
  background-color: #bd362f;
  *background-color: #a9302a;
}

.btn-normal:active,
.btn-normal.active {
  background-color: #942a25 \9;
}

.label {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  display: block;
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
  
  -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

  margin-bottom: 5px;
  margin-right: 10px;
}

.label-tokyo{
  background-color: #b94a48;
}

.label-ishinomaki{
  background-color: #468847;
}

.label-nagoya{
  background-color: #f89406;
}

h4.thon {
	border-bottom: 1px solid #CCC;
}

h3.logolist,
h4.logolist {
	border-bottom: 1px dotted #ccc;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

h4.logolist {
	font-size: 14px;
	color: #999;
}

ul.logolist {
	min-height: 150px;
}

ul.logolist li {
	float: left;
	list-style-type: none;
	/*
	margin-right: 30px;
	margin-bottom: 20px;
	*/
	margin: 10px;
}

ul.logolist li a {
}

ul.logolist li a:focus,
ul.logolist li a:active,
ul.logolist li a:hover {
	opacity: 0.6;
	-moz-opacity:0.6; /* Firefox(old) */
	-khtml-opacity: 0.6; /* Safari(old) */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE */
	filter: alpha(opacity=60); /* IE */
}

ul.peoplelist {
	clear: both;
	margin-bottom: 30px;
}

ul.peoplelist li {
	margin: 10px;
	font-size: 16px;
	list-style-type: none;
	line-height: 0.4;
}

ul.peoplelist li .desc {
	font-size: 12px;
	line-height: 1.6;
}

ul.articlelist {
	min-height: 150px;
	clear: both;
	margin-bottom: 30px;
}

ul.articlelist li {
	margin: 10px;
	font-size: 14px;
	list-style-type: none;
	line-height: 1.4;
	margin-bottom: 14px;
}

ul.articlelist li a:focus,
ul.articlelist li a:active,
ul.articlelist li a:hover {
	text-decoration: underline;
}

ul.articlelist li .desc {
	font-size: 12px;
	line-height: 1.6;
	background-color: #ddd;
}

ul.snslist {
	text-align: center;
	margin-top: 50px;
}

ul.snslist li.last {
	margin-right: 0px;
} 

ul.snslist li a {
} 

ul.snslist li a:focus,
ul.snslist li a:active,
ul.snslist li a:hover {
	opacity: 0.6;
	-moz-opacity:0.6; /* Firefox(old) */
	-khtml-opacity: 0.6; /* Safari(old) */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)"; /* IE */
	filter: alpha(opacity=60); /* IE */
}

ul.snslist li a:visited {

}

a.inline {
	text-decoration: underline;
}

a.inline:focus,
a.inline:active,
a.inline:hover {
	text-decoration: none;
}


.logoblock {
	margin-bottom: 30px;
}

.footer {
	background-color: #000;	
}

.footer p {
	margin-bottom: 0;
	padding: 10px 0 10px 0;
	text-align: center;
	font-size: 10px;
	color: #AAA;
}
dl,dt,dd{
	margin: 0;
	padding: 0;
}
.schedule-left{
	display: block;
	margin: 5px;
	float: left;
}
.schedule-left dt, .schedule-left dd{
	padding: 5px 4px 5px 4px;
}
.schedule-left dd{
		border-bottom: 1px dotted #333333;
		border-color:#36a1ea;
}
.schedule-left dt {
	width: 80px;
	clear: left;
	float: left;
}
.color-wb{
	color:#36a1ea;
}
.color-gr{
	color:#6eb92c;
}
.cooperation{
	display:block;
	width:78%;
	margin:0 auto;
}
.coope-text{
	color:#36a1ea;
	font-size:small;
	display:block;
	float:left;
}
.coop-logo{
	float:left;
	margin-left: 20px;
}
